Repository SSilvestreS/NexusPM, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, tests, configuration, dependencies, security, performance, bug, feature, breaking

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

fix: corrigir erro Setup Node.js no CI/CD - Adiciona package-lock.json para cache de dependências - Corrige workflow para usar cache com path correto - Resolve erro de arquivo de lock não encontrado
  .github/workflows/ci-cd.yml
  frontend/package-lock.json
Labels: frontend, documentation, configuration, dependencies

docs: atualiza nome do projeto para NexusPM no README
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

docs: atualiza badges do README - Status: Completo, Versão: 3.0.0
  README.md
Labels: documentation

chore: atualiza package-lock.json após instalação bem-sucedida das dependências
  frontend/package-lock.json
Labels: frontend, configuration, dependencies

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

.github/labeler.yml:

# Frontend
frontend:
  - frontend/**/*
  - 'frontend/**/*.{js,jsx,ts,tsx,css,scss,html}'

# Backend
backend:
  - backend/**/*
  - 'backend/**/*.{py,pyx,pyi}'

# Documentation
documentation:
  - '**/*.md'
  - '**/*.rst'
  - '**/*.txt'
  - docs/**/*
  - .github/**/*

# Tests
tests:
  - '**/*.test.{js,jsx,ts,tsx}'
  - '**/*.spec.{js,jsx,ts,tsx}'
  - '**/test_*.py'
  - '**/*_test.py'
  - '**/tests/**/*'

# Configuration
configuration:
  - '**/*.yml'
  - '**/*.yaml'
  - '**/*.json'
  - '**/*.toml'
  - '**/*.ini'
  - '**/*.cfg'
  - '**/*.conf'

# Dependencies
dependencies:
  - '**/package.json'
  - '**/requirements.txt'
  - '**/Pipfile'
  - '**/poetry.lock'
  - '**/yarn.lock'
  - '**/package-lock.json'

# Security
security:
  - '**/security/**/*'
  - '**/*security*'
  - '**/auth/**/*'
  - '**/*auth*'

# Performance
performance:
  - '**/*performance*'
  - '**/*optimization*'
  - '**/*cache*'

# Bug fixes
bug:
  - '**/*bug*'
  - '**/*fix*'
  - '**/*issue*'

# Features
feature:
  - '**/*feature*'
  - '**/*enhancement*'
  - '**/*improvement*'

# Breaking changes
breaking:
  - '**/*breaking*'
  - '**/*major*'
  - '**/*deprecate*'
